<div class="w-screen">
    <nav class="w-100">
        <ul class="flex flex-row gap-4 justify-center items-center bg-gray-600 text-zinc-200">
            <li>
                <button class="p-4" [ngClass]="currentRoute === 'home' ? 'bg-zinc-700' : 'hover:bg-gray-700'"  routerLink="/home">
                    Home
                </button>
            </li>
            <li>
                <button class="p-4" [ngClass]="currentRoute === 'store' ? 'bg-zinc-700' : 'hover:bg-gray-700'" routerLink="/store">
                    Store
                </button>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
