<h2 class="ml-4 font-bold text-3xl">{{category | capitalize}}</h2>
<div *ngIf="loading$ | async" class="w-screen h-screen flex items-center justify-center absolute top-0">
    <div class="animate-spin w-16 h-16 bg-blue-500 rounded-full">
        <div class="relative w-2 h-1/2 bg-slate-700 m-auto"></div>
    </div>
</div>
<section *ngIf="!(loading$ | async) && products" class="grid grid-cols-4 gap-4 m-4">
    <app-item *ngFor="let product of products" [product]="product"/>
</section>
<p *ngIf="![loading$ | async] && !(validCategory$ | async)">invalid category</p>
